@import "../../../styles/constants";

.organization-name {
  width: 30%;
  border: 2px solid $tableBorder;
  border-bottom: 0;
  border-left: 0;
  border-collapse: collapse;

  &__header {
    height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;

    button {
      width: auto;
      height: 25px;
      border-radius: 15px;
      margin-left: 5px;
    }
  }

  &__list {
    height: 95%;
    margin: 0;
    padding: 0;

    li {
      font-size: 18px;
      padding: 10px 20px 5px 15px;
      list-style-type: none;
      word-break: break-all;

      &:first-child {
        border-top: 2px solid $tableBorder;
      }

      &:last-child {
        border-bottom: 2px solid $tableBorder;
      }
    }

    &_organization {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 20px 5px 15px;
      min-height: 40px;

      p {
        margin: 0;
        margin-top: -2px;
        padding-left: 5px;
      }
    }

    &_without-name {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-height: 40px;
      min-height: 40px;

      p {
        margin-top: 15px;
      }
    }

    .select-organization {
      background: $selectOrganisationBackground;
    }
  }
}