@import '../../../styles/constants';
@import '../../../styles/mixins';

.add-type-form {
  &__type-field {
    @include default-modal-field-form;
  }

  &__save-button {
    @include default-modal-save-button-form;
  }
}