@import "../../../styles/constants";

.warning-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-top: 5px;
  
  span {
    margin-top: 10px;
    padding-left: 15px;
    color: $formHint;
    margin: 0;
    padding: 0;
  }

  .ant-input-password {
    padding: 0;
  }
}