@import "../../../styles/constants";
@import "../../../styles/mixins";

.type-modal-form {

  @include default-search-field;

  &__list {
    @include default-list;
  }

  &__save-button {
    @include modal-save-button;
  }
}
