@import "../../../styles/constants";
@import "../../../styles/mixins";

.type-modal-form {

  .ant-modal-header {
    padding: 10px 24px;
    border: 1px solid $tableBorder;
    border-radius: 0;
  }

  .ant-modal-body {
    border: 1px solid $tableBorder;
    border-radius: 0;
  }

  @include default-search-field;

  &__table {
    @include default-table;
  }

  &__save-button {
    @include modal-save-button;
  }
}
