$tableBorder: #000;
$additionalSection : #d5dcdc;
$formHint: rgb(243, 36, 9);
$selectOrganisationText: #000;
$selectOrganisationBackground: rgb(245, 243, 243);
$dividingLine: #000;

$whiteRow: #fff;
$evenLine: rgb(245, 243, 243);
$oddLine: rgb(230, 227, 227);
$selectItem: rgb(207, 204, 204);
$tableHeader: rgb(163, 163, 163);

$buttonSearch: rgb(206, 206, 206);
$buttonSearchColor: #000;
$buttonSearchBorder: #000;

$inputSearch: rgb(206, 206, 206);
$inputSearchColor: #000;
$inputSearchBorder: #000;

$bookmarksColor: rgb(231, 216, 216);
$bookmarksbackground: white;


$signInPageBackground: #f7f7f7;
$signInFormBackground: #e7eff7;

$tumbleweed: 'https://vignette4.wikia.nocookie.net/imaspeedrunner/images/3/3a/Orphan_tumbleweed.png/revision/latest?cb=20131006213006';
