
@keyframes bouncing {
  13%, 32% {
    animation-timing-function: ease-out;
    bottom: 0px;
  }
  0% {
    bottom: 110%;
    left: 20%;
    animation-timing-function: ease-out;
  }
  22% {
    bottom: 40%;
    animation-timing-function: ease-in;
  }
  50% {
    bottom: 25%;
    animation-timing-function: ease-in;
  }
  80% {
    left: 125%;
    bottom: -150%;
    animation-timing-function: ease-out;
  }
  100% {
    left: 150%;
    bottom: -200%;
    animation-timing-function: ease-out;
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}