@import './constants';


@mixin default-label-input {
  label {
    max-width: 80px;
    min-width: 80px;
    text-align: end;
    margin: 0 10px;
  }
}

@mixin default-input {
  input {
    height: 35px;
    border-width: 2px;
    border-color: $tableBorder;
    padding: 10px 15px 5px 15px;
  }
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin default-textarea {
  textarea {
    min-height: 100px;
    max-height: 200px;
    margin: 0;
    width: auto;
    border-width: 2px;
    border-color: $tableBorder;
    padding: 10px 15px 5px 15px;
    font-size: 15px;
  }
}

@mixin default-search-field {
  .ant-modal-body {
    padding-left: 0px;
    padding-right: 0px;

    .ant-input-wrapper {
      padding: 0 20px 0 20px;

      input {
        width: 90%;
        height: 25px;
        border-radius: 15px;
        border: 1px solid $inputSearchBorder;

        &::placeholder {
          color: $inputSearchColor;
        }
      }

      .ant-input-group-addon {
        margin-right: 5px;

        button {
          background-color: $buttonSearch;
          color: $buttonSearchColor;
          border: 1px solid $buttonSearchBorder;
          border-radius: 15px;
          height: 25px;
        }
      }
    }
  }
}

@mixin default-list {
  margin: 15px 0 15px 0;
  border-top: 1px solid $tableBorder;

  p {
    padding-left: 5px;
    border-bottom: 1px solid $tableBorder;
    margin: 0;

    &:nth-child(2n) {
      background-color: $evenLine;
    }

    &:nth-child(2n-1) {
      background-color: $oddLine;
    }
  }

  .select-item {
    background-color: $selectItem !important;
  }
}

@mixin default-table {
  width: 100%;
  margin: 20px 0 20px 0;

  th,
  td {
    border: 1px solid $tableBorder;
    padding-left: 5px;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  thead tr {
    background-color: $tableHeader;
  }

  tbody tr {
    &:nth-child(2n) {
      background-color: $evenLine;
    }

    &:nth-child(2n-1) {
      background-color: $oddLine;
    }
  }
}

@mixin modal-save-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;

  button {
    height: 25px;
    border-radius: 15px;
    background-color: $buttonSearch;
    color: $buttonSearchColor;
    border: 1px solid $buttonSearchBorder;
    cursor: pointer;
    outline: none;
  }
}

@mixin default-modal-field-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;

  label {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 50px;
    min-width: 50px;
    padding-top: 5px;
    margin-right: 10px;
    color: $selectOrganisationText;
    text-align: end;
    word-break: break-word;
  }

  .warning-wrapper {
    width: 90%;

    input {
      border: 1px solid;
      padding-left: 5px;
    }
  }
}

@mixin default-modal-save-button-form {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-right: 8px;

  button {
    background: none;
    border: 2px solid;
    border-radius: 15px;
    width: auto;
    height: 25px;
    padding: 0px 10px;
    cursor: pointer;
    outline: none;
  }
}
