@import '../../node_modules/antd/dist/antd.css';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
