@import '../../../styles/constants';

.layout {
  display: flex;
  flex-direction: row;
  height: 96%;
}

.header-switch-button {
  height: 4%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .bookmarks-wrapper {
    display: flex;
    flex-direction: row;
    
    &__bookmarks {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $bookmarksbackground;
      border-left: 15px solid transparent;
      border-bottom: 25px solid $bookmarksColor;
      border-right: 15px solid transparent;
      border-top: none;
      outline: none;
      cursor: pointer;
      
      p {
        margin-top: 0;
        padding-bottom: 0;
        margin-bottom: -25px;
      }
    }
  }
}