@import "../../../styles/constants";
@import "../../../styles/mixins";

.organization-information {
  width: 70%;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 20px 30px;
  border-top: 2px solid;
  border-right: 2px solid;

  .hidden {
    visibility: hidden;
    height: 0;
  }

  &__communication-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    .notes {
      display: flex;
      flex-direction: row;
      width: 100%;

      .warning-wrapper {
        width: 100%;
      }

      @include default-label-input;
      @include default-textarea;
    }

    .address-phone-wrapper {
      &__phone-number,
      &__organization-address {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        margin-bottom: 10px;
        
        .warning-wrapper {
          width: 70%;
          
          @include default-input;
        }
      }
    }
  }

  &__organization-name {
    margin-bottom: 30px;
  
    @include default-input;
  }

  &__additional-information {
    display: flex;
    flex-direction: row;

    @include default-label-input;
    @include default-textarea;

    .warning-wrapper {
      width: 100%;
    }
  }

  &__count-emploeeys {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    @include default-label-input;

    .warning-wrapper {
      width: 25%;

      @include default-input;
    }
  }

  &__dividing-line {
    border: 1px solid $dividingLine;
    margin: 30px 0;
  }

  &__manual-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 20px;

    .modal {
      display: flex;
    }

    .date-picker-field {
      margin-left: 20px;

      input {
        border: 2px solid $tableBorder;
        border-radius: 0;
        padding-left: 5px;
      }
    }

    .type-of-manual,
    .users-of-manual {
      display: flex;
      flex-direction: row;

      @include default-label-input;
      @include default-input;

      label {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }

    button {
      display: flex;
      justify-content: center;
      height: 25px;
      width: 25px;
      border-radius: 12px;
      margin-left: 10px;
      border: 1px solid;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;

    &_save-information {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      margin-right: 50px;
      border-radius: 10px;
      outline: none;
      border: 2px solid;
    }
  }
}