@import '../../../styles/constants';
@import '../../../styles/mixins';

.add-user-form {
  &__name-field,
  &__last-name-field,
  &__patronymic-field, {
    @include default-modal-field-form;
  }

  &__save-button {
    @include default-modal-save-button-form;
  }
}