.sign-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding-bottom: 30px;

  &__login-field,
  &__password-field,
  &__mail-field {
    width: 70%;
    padding: 10px 0;
  }

  button {
    margin-top: 20px;
  }
}