@import '../../../../styles/constants';

.manuals-name {
  width: 30%;
  border: 2px solid;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;

  &__item {
    border-bottom: 1px solid $tableBorder;
    padding: 5px 0 5px 5px;
    margin: 0;
  }
  
  .select-item {
    background-color: $evenLine;
  }
}