.account-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .account-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 95%;
    margin-top: 30px;

    form {
      height: fit-content;
    }

    .card-wrapper .button-save {
      display: flex;
      justify-content: center;
      margin-top: 25px;
    }
  }
}