@import '../../../../styles/constants';
@import '../../../../styles/mixins';

.manuals-information {
  width: 70%;
  border: 2px solid;
  border-bottom: 0;

  &__buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 5%;

    button {
      background: none;
      outline: none;
      border-radius: 15px;
      padding: 0 10px 5px 10px;
      height: 25px;
      width: auto;
      border: 1px solid;
      margin: 0 5px 5px 5px;
      cursor: pointer;
    }
  }

  &__list {
    @include default-list;

    display: flex;
    flex-direction: column;
    height: 95%;
    margin: 0;
  }

  &__table {
    height: 95%;

    table {
      @include default-table;
      margin: 0;
    }
  }
}