@import '../../../styles/constants';
@import '../../../styles/keyframes';
@import '../../../styles/mixins';

.sign-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $signInPageBackground;

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 45%;
    padding: 30px 20px;
    border-radius: 10px;
    border: 3px double;
    background-color: $signInFormBackground;

    .sign-link {
      display: flex;
      justify-content: flex-end;
      height: 10%;
      padding-top: 5px;

      button {
        height: 30px;
        width: 100px;
        color: #40a9ff;
        border: 1px solid;
        outline: none;
        background: #ffffff;
        cursor: pointer;
        padding: 0 0 0 2px;

        &:hover {
          color: #ffffff;
          background-color: #40a9ff;
          border: 1px solid #40a9ff;
          transition: background-color 0.5s linear;
        }
      }
    }
  }

  .animation-wrapper {
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 0%;
    width: 100%;
    height: 28%;

    &__tumbleweed {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      margin: 15% 0 0 -15%;
      border-radius: 50%;
      background: url($tumbleweed) no-repeat;
      background-size: 100%;
      @include animation(bouncing 4s infinite, rot 4s cubic-bezier(1,1,0.2,0.2) infinite);
      animation-fill-mode: forwards;
      animation-delay: 2s;
    }
  }
}

